.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.bg-main1 {
    background-color:#3F4045;
}
body{
    background:#30292F;
}
.font-header1 {
    font-size: large;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text-grey {
    color: gray;
}