.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.bg-main1 {
    background-color:#3F4045;
}
.bg-main2 {
    background-color:#413F54;
}
body{
    background:#30292F;
}
.font-header1 {
    font-size: large;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
}
.text-grey {
    color: gray;
}
.page-container {
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 10rem;    /* Footer height */
}
.carousel-item {
    width: 100%;
    height: 600px; /* example */
}
.carousel-item img {
width: 100%;
height: 100%;
object-fit: contain;
}
.logo-frame {
    width: 30%;
    height: 7rem;
}
.logo-format {
    width: 100%;
    height: 100%;
    object-fit: contain;
}